### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [146]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"
file_to_read = "fileOne.csv"
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [147]:
count = len(purchase_data["SN"].unique())

summary_table = pd.DataFrame({"Total Players": [count]})
summary_table

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [148]:
Number_of_Purchases = purchase_data["Item ID"].count()
Number_of_Unique_Items = len(purchase_data["Item Name"].unique())
Average_Price = purchase_data["Price"].mean()
Total_Revenue = purchase_data["Price"].sum()
#KS3_df["Average"] = KS3_df["Average"].map("${:.2f}".format)
summary_table1 = pd.DataFrame({"Number of Unique Items": [Number_of_Unique_Items], "Average Price": [Average_Price], "Number of Purchases": [Number_of_Purchases],"Total Revenue": [Total_Revenue] })
summary_table1

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [149]:
# Total_Count = purchase_data["Item ID"].count()
# Total_Count
#purchase_data = purchase_data.groupby("SN")
# count = purchase_data.groupby(['Gender']).count()
# count
#count.reset_index()
#purchase_data.reset_index()
#summary_table
#----------Array for Gender Type
# test = purchase_data["Gender"].unique()
# test
#-------------
MALE_INFO = purchase_data.loc[purchase_data["Gender"] == "Male",:]
#MALE_INFO
Male_Count = len(MALE_INFO["SN"].unique())
Percent_Male = (Male_Count / count) * 100
#Percent_Male

FMALE_INFO = purchase_data.loc[purchase_data["Gender"] == "Female",:]
#FMALE_INFO
Female_Count = len(FMALE_INFO["SN"].unique())
Percent_Female = (Female_Count / count) * 100
#Percent_Female

Other_INFO = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed",:]
#Other_INFO
Other_Count = len(Other_INFO["SN"].unique())
#Other_Count
Percent_Other = (Other_Count / count) * 100
#Percent_Other

Gender_demographics = pd.DataFrame({'Total Count': [Male_Count, Female_Count, Other_Count], 'Percentage of Players': [Percent_Male, Percent_Female, Percent_Other]},index=['Male', 'Female', 'Other / Non-Disclosed'])
#Gender_demographics
Gender_demographics["Percentage of Players"] = Gender_demographics["Percentage of Players"].map("{:.2f}".format)
Gender_demographics

                       Total Count Percentage of Players
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [150]:
Male_Purchase_Count = MALE_INFO["SN"].count()
Total_Male_Purchase_Price = (MALE_INFO["Price"].sum())
Average_Male_Purchase_Price = Total_Male_Purchase_Price / Male_Purchase_Count
Avg_Total_Male_Purchase_per_Person = Total_Male_Purchase_Price / Male_Count

Female_Purchase_Count = FMALE_INFO["SN"].count()
Total_Female_Purchase_Price = (FMALE_INFO["Price"].sum())
Average_Female_Purchase_Price = Total_Female_Purchase_Price / Female_Purchase_Count
Avg_Total_Female_Purchase_per_Person = Total_Female_Purchase_Price / Female_Count

Other_Purchase_Count = Other_INFO["SN"].count()
Total_Other_Purchase_Price = (Other_INFO["Price"].sum())
Average_Other_Purchase_Price = Total_Other_Purchase_Price / Other_Purchase_Count
Avg_Total_Other_Purchase_per_Person = Total_Other_Purchase_Price / Other_Count


Purchase_Analysis = pd.DataFrame({'Gender': ['MALE', 'FEMALE', 'Other'], 'Purchase Count': [Male_Purchase_Count, Female_Purchase_Count, Other_Purchase_Count], 'Average Purchase Price': [Average_Male_Purchase_Price, Average_Female_Purchase_Price, Average_Other_Purchase_Price], 'Total Purchase Value': [Total_Male_Purchase_Price, Total_Female_Purchase_Price, Total_Other_Purchase_Price], 'Avg Total Purchase per Person': [Avg_Total_Male_Purchase_per_Person, Avg_Total_Female_Purchase_per_Person, Avg_Total_Other_Purchase_per_Person]})
Purchase_Analysis["Average Purchase Price"] = Purchase_Analysis["Average Purchase Price"].map("${:.2f}".format)
Purchase_Analysis["Total Purchase Value"] = Purchase_Analysis["Total Purchase Value"].map("${:.2f}".format)
Purchase_Analysis["Avg Total Purchase per Person"] = Purchase_Analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
Purchase_Analysis

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,MALE,652,$3.02,$1967.64,$4.07
1,FEMALE,113,$3.20,$361.94,$4.47
2,Other,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [151]:
max_A = purchase_data["Age"].max()
min_A = purchase_data["Age"].min()


bins = [0, 9, 14, 19, 24, 29, 34, 39, 49]
Age_Group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "+40"]

pd.cut(purchase_data["Age"], bins, labels=Age_Group).head

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=Age_Group)


purchase_data_AGB10 = purchase_data.loc[(purchase_data["Age Group"] == "<10") & (purchase_data["SN"]),:]
purchase_data_AGB10
purchase_data_AGB10_TC = len(purchase_data_AGB10["SN"].unique())
purchase_data_AGB10_Percent = (purchase_data_AGB10_TC / count) * 100
purchase_data_AGB10_Percent

purchase_data_AGB14 = purchase_data.loc[(purchase_data["Age Group"] == "10-14") & (purchase_data["SN"]),:]
purchase_data_AGB14
purchase_data_AGB14_TC = len(purchase_data_AGB14["SN"].unique())
purchase_data_AGB14_Percent = (purchase_data_AGB14_TC / count) * 100
purchase_data_AGB14_Percent

purchase_data_AGB19 = purchase_data.loc[(purchase_data["Age Group"] == "15-19") & (purchase_data["SN"]),:]
purchase_data_AGB19
purchase_data_AGB19_TC = len(purchase_data_AGB19["SN"].unique())
purchase_data_AGB19_Percent = (purchase_data_AGB19_TC / count) * 100
purchase_data_AGB19_Percent

purchase_data_AGB24 = purchase_data.loc[(purchase_data["Age Group"] == "20-24") & (purchase_data["SN"]),:]
purchase_data_AGB24
purchase_data_AGB24_TC = len(purchase_data_AGB24["SN"].unique())
purchase_data_AGB24_Percent = (purchase_data_AGB24_TC / count) * 100
purchase_data_AGB24_Percent

purchase_data_AGB29 = purchase_data.loc[(purchase_data["Age Group"] == "25-29") & (purchase_data["SN"]),:]
purchase_data_AGB29
purchase_data_AGB29_TC = len(purchase_data_AGB29["SN"].unique())
purchase_data_AGB29_Percent = (purchase_data_AGB29_TC / count) * 100
purchase_data_AGB29_Percent

purchase_data_AGB34 = purchase_data.loc[(purchase_data["Age Group"] == "30-34") & (purchase_data["SN"]),:]
purchase_data_AGB34
purchase_data_AGB34_TC = len(purchase_data_AGB34["SN"].unique())
purchase_data_AGB34_Percent = (purchase_data_AGB34_TC / count) * 100
purchase_data_AGB34_Percent

purchase_data_AGB39 = purchase_data.loc[(purchase_data["Age Group"] == "35-39") & (purchase_data["SN"]),:]
purchase_data_AGB39
purchase_data_AGB39_TC = len(purchase_data_AGB39["SN"].unique())
purchase_data_AGB39_Percent = (purchase_data_AGB39_TC / count) * 100
purchase_data_AGB39_Percent

purchase_data_AGB40 = purchase_data.loc[(purchase_data["Age Group"] == "+40") & (purchase_data["SN"]),:]
purchase_data_AGB40
purchase_data_AGB40_TC = len(purchase_data_AGB40["SN"].unique())
purchase_data_AGB40_Percent = (purchase_data_AGB40_TC / count) * 100
purchase_data_AGB40_Percent


Age_Demographics = pd.DataFrame({'Total Count': [purchase_data_AGB10_TC, purchase_data_AGB14_TC, purchase_data_AGB19_TC, purchase_data_AGB24_TC, purchase_data_AGB29_TC, purchase_data_AGB34_TC, purchase_data_AGB39_TC, purchase_data_AGB40_TC], 'Percentage of Players': [purchase_data_AGB10_Percent, purchase_data_AGB14_Percent, purchase_data_AGB19_Percent, purchase_data_AGB24_Percent, purchase_data_AGB29_Percent, purchase_data_AGB34_Percent, purchase_data_AGB39_Percent, purchase_data_AGB40_Percent]}, index = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'])

Age_Demographics["Percentage of Players"] = Age_Demographics["Percentage of Players"].map("{:.2f}".format)
Age_Demographics

#max_A,min_A

       Total Count Percentage of Players
<10             17                  2.95
10-14           22                  3.82
15-19          107                 18.58
20-24          258                 44.79
25-29           77                 13.37
30-34           52                  9.03
35-39           31                  5.38
40+             12                  2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [152]:
PA_Age10 = purchase_data.loc[(purchase_data["Age Group"] == "<10") & (purchase_data["SN"]),:]
Total_PPP10 = len(PA_Age10["SN"].unique())
PA_Age10_PC = PA_Age10["SN"].count()
Total_Purchase_Value10 = PA_Age10["Price"].sum()
AVG_Purchase_Price10 = Total_Purchase_Value10 / PA_Age10_PC
AVG_Total_PPP10 = Total_Purchase_Value10 / Total_PPP10

PA_Age14 = purchase_data.loc[(purchase_data["Age Group"] == "10-14") & (purchase_data["SN"]),:]
Total_PPP14 = len(PA_Age14["SN"].unique())
PA_Age14_PC = PA_Age14["SN"].count()
Total_Purchase_Value14 = PA_Age14["Price"].sum()
AVG_Purchase_Price14 = Total_Purchase_Value14 / PA_Age14_PC
AVG_Total_PPP14 = Total_Purchase_Value14 / Total_PPP14

PA_Age19 = purchase_data.loc[(purchase_data["Age Group"] == "15-19") & (purchase_data["SN"]),:]
Total_PPP19 = len(PA_Age19["SN"].unique())
PA_Age19_PC = PA_Age19["SN"].count()
Total_Purchase_Value19 = PA_Age19["Price"].sum()
AVG_Purchase_Price19 = Total_Purchase_Value19 / PA_Age19_PC
AVG_Total_PPP19 = Total_Purchase_Value19 / Total_PPP19

PA_Age24 = purchase_data.loc[(purchase_data["Age Group"] == "20-24") & (purchase_data["SN"]),:]
Total_PPP24 = len(PA_Age24["SN"].unique())
PA_Age24_PC = PA_Age24["SN"].count()
Total_Purchase_Value24 = PA_Age24["Price"].sum()
AVG_Purchase_Price24 = Total_Purchase_Value24 / PA_Age24_PC
AVG_Total_PPP24 = Total_Purchase_Value24 / Total_PPP24

PA_Age29 = purchase_data.loc[(purchase_data["Age Group"] == "25-29") & (purchase_data["SN"]),:]
Total_PPP29 = len(PA_Age29["SN"].unique())
PA_Age29_PC = PA_Age29["SN"].count()
Total_Purchase_Value29 = PA_Age29["Price"].sum()
AVG_Purchase_Price29 = Total_Purchase_Value29 / PA_Age29_PC
AVG_Total_PPP29 = Total_Purchase_Value29 / Total_PPP29

PA_Age34 = purchase_data.loc[(purchase_data["Age Group"] == "30-34") & (purchase_data["SN"]),:]
Total_PPP34 = len(PA_Age34["SN"].unique())
PA_Age34_PC = PA_Age34["SN"].count()
Total_Purchase_Value34 = PA_Age34["Price"].sum()
AVG_Purchase_Price34 = Total_Purchase_Value34 / PA_Age34_PC
AVG_Total_PPP34 = Total_Purchase_Value34 / Total_PPP34

PA_Age39 = purchase_data.loc[(purchase_data["Age Group"] == "35-39") & (purchase_data["SN"]),:]
Total_PPP39 = len(PA_Age39["SN"].unique())
PA_Age39_PC = PA_Age39["SN"].count()
Total_Purchase_Value39 = PA_Age39["Price"].sum()
AVG_Purchase_Price39 = Total_Purchase_Value39 / PA_Age39_PC
AVG_Total_PPP39 = Total_Purchase_Value39 / Total_PPP39

PA_Age40 = purchase_data.loc[(purchase_data["Age Group"] == "+40") & (purchase_data["SN"]),:]
Total_PPP40 = len(PA_Age40["SN"].unique())
PA_Age40_PC = PA_Age40["SN"].count()
Total_Purchase_Value40 = PA_Age40["Price"].sum()
AVG_Purchase_Price40 = Total_Purchase_Value40 / PA_Age40_PC
AVG_Total_PPP40 = Total_Purchase_Value40 / Total_PPP40

PurchasingAnalysis = pd.DataFrame({'Purchase Count': [PA_Age10_PC, PA_Age14_PC, PA_Age19_PC, PA_Age24_PC, PA_Age29_PC, PA_Age34_PC, PA_Age39_PC, PA_Age40_PC], 'Average Purchase Price': [AVG_Purchase_Price10, AVG_Purchase_Price14, AVG_Purchase_Price19, AVG_Purchase_Price24, AVG_Purchase_Price29, AVG_Purchase_Price34, AVG_Purchase_Price39, AVG_Purchase_Price40], 'Total Purchase Value': [Total_Purchase_Value10, Total_Purchase_Value14, Total_Purchase_Value19, Total_Purchase_Value24, Total_Purchase_Value29, Total_Purchase_Value34, Total_Purchase_Value39, Total_Purchase_Value40], 'Avg Total Purchase per Person': [AVG_Total_PPP10, AVG_Total_PPP14, AVG_Total_PPP19, AVG_Total_PPP24, AVG_Total_PPP29, AVG_Total_PPP34, AVG_Total_PPP39, AVG_Total_PPP40]}, index = ['10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+', '<10'])
PurchasingAnalysis["Average Purchase Price"] = PurchasingAnalysis["Average Purchase Price"].map("${:.2f}".format)
PurchasingAnalysis["Total Purchase Value"] = PurchasingAnalysis["Total Purchase Value"].map("${:.2f}".format)
PurchasingAnalysis["Avg Total Purchase per Person"] = PurchasingAnalysis["Avg Total Purchase per Person"].map("${:.2f}".format)

PurchasingAnalysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,23,$3.35,$77.13,$4.54
15-19,28,$2.96,$82.78,$3.76
20-24,136,$3.04,$412.89,$3.86
25-29,365,$3.05,$1114.06,$4.32
30-34,101,$2.90,$293.00,$3.81
35-39,73,$2.93,$214.00,$4.12
40+,41,$3.60,$147.67,$4.76
<10,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [153]:
#purchase_data
PC_PD = purchase_data["SN"].value_counts()

grouped_purchase_data = purchase_data.groupby(['SN'])

Total_Purchase_Value = grouped_purchase_data["Price"].sum()

Total_Purchase_Value.head()

Top_Spenders_summary_table = pd.DataFrame({"Purchase Count": PC_PD, "Average Purchase Price" : (Total_Purchase_Value / PC_PD) ,"Total Purchase Value": Total_Purchase_Value})
Top_Spenders_summary_table.head()

Top_Spenders_summary_table = Top_Spenders_summary_table.sort_values("Total Purchase Value", ascending=False)
Top_Spenders_summary_table["Average Purchase Price"] = Top_Spenders_summary_table["Average Purchase Price"].map("${:.2f}".format)
Top_Spenders_summary_table["Total Purchase Value"] = Top_Spenders_summary_table["Total Purchase Value"].map("${:.2f}".format)

Top_Spenders_summary_table.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [157]:

purchase_data_1 = purchase_data.loc[:, ['Item ID', 'Item Name', 'Price']]

grouped_item_data = purchase_data_1.groupby(['Item ID','Item Name']).sum()["Price"]
grouped_item_data
grouped_item_data_1 = purchase_data_1.groupby(['Item ID','Item Name']).mean()["Price"]

grouped_item_data_2 = purchase_data_1.groupby(['Item ID','Item Name']).count()["Price"]

MPI_summary_table = pd.DataFrame({ "Purchase Count" : grouped_item_data_2, "Item Price" : grouped_item_data_1, "Total Purchase Value" : grouped_item_data})
MPI_summary_table2 = pd.DataFrame({ "Purchase Count" : grouped_item_data_2, "Item Price" : grouped_item_data_1, "Total Purchase Value" : grouped_item_data})


MPI_summary_table = MPI_summary_table.sort_values("Purchase Count", ascending=False)
MPI_summary_table["Item Price"] = MPI_summary_table["Item Price"].map("${:.2f}".format)
MPI_summary_table["Total Purchase Value"] = MPI_summary_table["Total Purchase Value"].map("${:.2f}".format)
MPI_summary_table

MPI_summary_table.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [161]:
MPI_summary_table2 = MPI_summary_table2.sort_values("Total Purchase Value", ascending=False)
MPI_summary_table2["Item Price"] = MPI_summary_table2["Item Price"].map("${:.2f}".format)
MPI_summary_table2["Total Purchase Value"] = MPI_summary_table2["Total Purchase Value"].map("${:.2f}".format)
MPI_summary_table2

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80
59,"Lightning, Etcher of the King",8,$4.23,$33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
72,Winter's Bite,8,$3.77,$30.16
60,Wolf,8,$3.54,$28.32
179,"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
160,Azurewrath,6,$4.40,$26.40
25,Hero Cane,6,$4.35,$26.10
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
139,"Mercy, Katana of Dismay",5,$4.94,$24.70
128,"Blazeguard, Reach of Eternity",5,$4.91,$24.55
138,"Peacekeeper, Wit of Dark Magic",5,$4.74,$23.70
141,Persuasion,7,$3.19,$22.33
87,"Deluge, Edge of the West",5,$4.43,$22.15
159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56
136,Ghastly Adamantite Protector,6,$3.58,$21.48
65,Conqueror Adamantite Mace,5,$4.24,$21.20
101,Final Critic,5,$4.19,$20.95
102,Avenger,6,$3.44,$20.64
133,Faith's Scimitar,5,$4.09,$20.45
39,"Betrayal, Whisper of Grieving Widows",5,$3.94,$19.70
111,Misery's End,4,$4.89,$19.56
165,Bone Crushing Silver Skewer,4,$4.86,$19.44
75,Brutality Ivory Warmace,8,$2.42,$19.36
52,Hatred,4,$4.84,$19.36
...,...,...,...,...
124,Venom Claymore,4,$1.29,$5.16
0,Splinter,4,$1.28,$5.12
155,War-Forged Gold Deflector,5,$1.01,$5.05
48,"Rage, Legacy of the Lone Victor",2,$2.48,$4.96
158,"Darkheart, Butcher of the Champion",2,$2.45,$4.90
51,Endbringer,1,$4.66,$4.66
134,Undead Crusader,1,$4.50,$4.50
30,Stormcaller,2,$2.21,$4.42
135,Warped Diamond Crusader,3,$1.40,$4.20
91,Celeste,1,$4.17,$4.17
177,"Winterthorn, Defender of Shifting Worlds",2,$2.08,$4.16
70,Hope's End,4,$1.03,$4.12
115,Spectral Diamond Doomblade,2,$2.04,$4.08
69,"Frenzy, Defender of the Harvest",2,$1.98,$3.96
47,"Alpha, Reach of Ending Hope",1,$3.58,$3.58
180,Stormcaller,1,$3.36,$3.36
27,"Riddle, Tribute of Ended Dreams",1,$3.30,$3.30
183,Dragon's Greatsword,3,$1.09,$3.27
31,Trickster,2,$1.55,$3.10
168,"Sun Strike, Jaws of Twisted Visions",2,$1.48,$2.96
90,Betrayer,1,$2.94,$2.94
33,Curved Axe,2,$1.16,$2.32
26,Unholy Wand,2,$1.12,$2.24
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
125,Whistling Mithril Warblade,2,$1.00,$2.00
126,Exiled Mithril Longsword,1,$2.00,$2.00
23,Crucifer,1,$1.99,$1.99
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75